[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "==3.9.2"
django-filter = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
