<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
  <tr>
    <td>
      <div style="margin: 50px 20px 20px 20px;text-align: center;">
        <img src="/static/img/home_logo.e92e0076.svg" border="0" style="display:block;width: 100%;height: 100%">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="border: #36649d 1px dashed;margin: 30px;padding: 20px">
        <label style="font-size: 22px;color: #36649d;font-weight: bold">您好!</label>
        <p style="font-size: 16px">欢迎使用FileCollector！
          <label style="font-weight: bold">以下是您本次的链接：</label>
        </p>
        <!--链接-->
        <a href="{{ url }}">点击验证注册账号</a>
        <p style="font-size: 16px">希望更好的为您服务！</p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin: 40px">
        <p style="font-size: 16px"></p>
        <p style="color:red;font-size: 14px ">（这是一封自动发送的邮件，请勿回复。）</p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div align="right" style="margin: 40px;border-top: solid 1px gray" id="bottomTime">
        <p style="margin-right: 20px">FileCollector团队</p>
      </div>
    </td>
  </tr>
</table>